.sidebar-container {
    width: 330px;
    top: 0;
    left: 0;
    transition: transform 0.3s ease-in-out;
    padding: 0 10px;
}

.sidebar-container.hidden {
    transform: translateX(-100%);
}

.sidebar-container.visible {
    transform: translateX(0);
}

.toggleButton {
    cursor: pointer;
}

.navbar {
    transition: all 0.3s ease-in-out;
}

.navbar-nav .nav-link {
    color: #ebedee;
    transition: color 0.2s ease-in-out;
}

.nav-link:hover {
    color: #f58060;
}

.sidebar-container .nav-link {
    color: #6c757d;
    transition: color 0.2s ease-in-out;
}

.sidebar-container .nav-link:hover {
    color: #f58060;
}

.sidebar-container .nav-link.navtabs-color {
    color: #f58060 !important;
}

.navtabs-color {
    color: #f58060 !important;
}

.travel-logo {
    color: #f58060 !important;
}

.hidden {
    display: none !important;
}

.visible {
    display: block !important;
}
